<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817940784403-9cbq1bvm1gsevcioe0frfs3kktetca8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817940784403-9cbq1bvm1gsevcioe0frfs3kktetca8c</string>
	<key>API_KEY</key>
	<string>AIzaSyD4XxBKGYL92sob_Y_pOA55sOWwVGLPDT0</string>
	<key>GCM_SENDER_ID</key>
	<string>817940784403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelapp.travelApp</string>
	<key>PROJECT_ID</key>
	<string>travel-app-beb08</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-app-beb08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817940784403:ios:72d14db80f683ca4c9e6e6</string>
</dict>
</plist>